@import '../../styles/globalColors.scss';
.todoList {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  .todoList__block {
    max-width: 600px;
    width: 600px;
    min-width: 300px;
    min-height: 200px;
    border: 2px solid white;
    box-shadow: 0 0 15px 5px $themeBsColor;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .block__creator {
      display: flex;
      flex-direction: column;
      width: min-content;
      align-items: flex-start;
      margin: 10px;
      input {
        color: white;
        background-color: black;
        border: 1px solid white;
        width: 250px;
        font-size: 3em;
        margin: 5px 0;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0 0 10px 2px $themeBsColor;
      }
      button {
        border-radius: 10px;
        font-size: 3em;
        padding: 5px;
        color: white;
        margin: 5px 0;
        background-color: black;
        border: 1px solid white;
        box-shadow: 0 0 10px 2px $themeBsColor;
        cursor: pointer;
        &:hover {
        box-shadow: 0 0 15px 2px white;
        }
        &:focus {
          box-shadow: 0 0 15px 2px white;
          }
      }
    }
    .block__listContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      .listContainer__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 25px;
        h2 {
          color: white;
          text-shadow: 0 0 5px $themeBsColor, 0 0 10px $themeBsColor,
            0 0 15px white, 0 0 20px $themeBsColor;
          font-size: 7em;
          margin: 5px;
        }
      }
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 476px) {
  .todoList {
    .todoList__block {
      min-width: 300px;
      width: 300px;
      min-height: 150px;
      .block__listContainer {
        width: 300px;
        margin: 0 10px;
        .listContainer__list {
          width: 300px;
          h2 {
            text-align: center;
            font-size: 6em;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 477px) and (max-width: 768px) {
  .todoList {
    .todoList__block {
      min-width: 350px;
      width: 350px;
      min-height: 150px;
      .block__listContainer {
        width: 350px;
        margin: 0 10px;
        .listContainer__list {
          width: 350px;
          h2 {
            text-align: center;
            font-size: 6em;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1048px) {
}
