@import 'utils/variables/colors.scss';
.dates__item {
  position: relative;
  transition: 0.1s;
  margin: 10px 7px;
  border-radius: 25px;
  font-size: 4px;
  cursor: pointer;
  &:hover {
    scale: 1.02;
    box-shadow: 0 0 10px 2px $themeBsColor;
  }
  .item__date {
    color: $textHeadersColor;
    text-shadow: 0 0 5px $themeTsColorMain, 0 0 10px $themeTsColorMain,
      0 0 15px $themeTsColorSelection, 0 0 20px $themeTsColorMain;
    width: 50px;
    height: 50px;
    border: 1px solid $bordersColor;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px $themeBsColor;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item__readyCounter{
    position: absolute;
    top: -5px;
    left: 0px;
    font-size: 3em;
    background-color: rgb(1, 255, 1);
    color: black;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    border: 1px solid grey;
    &:hover{
      opacity: 1;
    }
  }
  .item__counter {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 3em;
    background-color: lightgreen;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
  }
  .orange{
    background-color: orange;

  }
  .yellow{
    background-color: yellow;
  }
  .lightgreen{
    background-color: lightgreen;
  }
}
@media screen and (min-width: 300px) and (max-width: 476px) {
  .dates__item {
    margin: 7px 5px;
    .item__date {
      width: 40px;
      height: 40px;
      font-size: 4em;
    }
    .item__counter {
      font-size: 2.5em;
      width: 15px;
      height: 15px;
    }
  }
}
@media screen and (min-width: 477px) and (max-width: 768px) {
  .dates__item {
    margin: 7px 10px;
    .item__date {
      width: 40px;
      height: 40px;
      font-size: 4em;
    }
    .item__counter {
      font-size: 2.5em;
      width: 18px;
      height: 18px;
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1048px) {
  .dates__item {
    margin: 6px;
    .item__date {
      width: 45px;
      height: 45px;
      font-size: 4.5em;
    }
    .item__counter {
      font-size: 2.5em;
      width: 20px;
      height: 20px;
    }
  }
}