:root {
  --themeColor: blue;
}
$themeBsColor: var(--themeColor);
$themeTsColorMain: blue;
$themeTsColorSelection: white;
$textHeadersColor: white;
$textContentColor: black;
$bg: black;
$bordersColor: white;
