@import 'utils/variables/colors.scss';
@import 'utils/default/effects.scss';

.textShadowEffect{
  color: $textHeadersColor;
  text-shadow: 0 0 5px $themeBsColor, 0 0 10px $themeBsColor,
  0 0 15px $themeBsColor, 0 0 20px $themeBsColor, 0 0 25px white;
}
.header{
  width: 100%;
  position: relative;
  padding: 50px 0 20px;
  .contentWrapper{
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    .logo{
      @extend .textShadowEffect;
      font-size: 10em;
    }
    .infoContent{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      .pageName{
        @extend .textShadowEffect;
        font-size: 5em;
      }
      .userInfo{
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        .userName{
          @extend .textShadowEffect;
          font-size: 5em;
        }
        .authBtn{
          background: none;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            filter: drop-shadow(0 0 20px rgb(191, 140, 238))
          }
          @extend .focusedElement;
          img {
            width: 100%;
            height: 100%;
            box-shadow: 0 0 20px 5px $themeBsColor;
            background-color: white;
            border-radius: 15px;
          }
        }
      }
    }
    .navigation{
      display: flex;
      gap: 10px;
      align-items: center;
      position: fixed;
      top: 15px;
      margin-right: 280px;
      padding: 10px;
      z-index: 9999;
      .navigationArrow{
        font-size: 4em;
        width: 30px;
        height: 30px;
        border: 1px solid $bordersColor;
        border-radius: 15px;
        box-shadow: 0 0 10px 5px $themeBsColor;
        background-color: $bg;
        cursor: pointer;
        transition: 0.2s;
        @extend .textShadowEffect;
        @extend .focusedElement;
        &:hover {
          box-shadow: 0 0 20px 5px rgb(191, 140, 238);
        }
      }
    }
}
}