@import "./utils/variables/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: $themeBsColor;
  border-radius: 5px;
}

body {
  background-color: $bg;
  position: relative;
  font-size: 4px;
}
* {
  &:focus {
    box-shadow: 0 0 15px 2px white;
    }
}